<!DOCTYPE html>

<html>

<head>
    <title>Home</title>
    <link rel="icon" href="img/logo.png">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
{{>header}}
<h1>this is home page</h1>
<h1>welcome {{username}}</h1>
{{>footer}}
</body>

</html>