<!DOCTYPE html>

<html>
<head>
    <title>Home</title>
    <link rel="icon" href="img/logo.png">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/main.js"></script>
</head>

<body>
{{>header}}
{{#if session.loggedin}}
    <h1>welcome {{session.username}}</h1>
{{else}}
    <h1>Login to create your own posts</h1>
 {{/if}}
{{>footer}}
</body>
</html>