<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="icon" href="img/logo.png">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/main.js"></script>
</head>
<body>
{{>header}}
<main>

<form method="POST" action="/login">
    {{#if msg}}
        <p>{{msg}}</p>
    {{/if}}
    <label> Username: </label>
    <input type="text" name="username" required min="3"/>
    <label>Password: </label>
    <input type="password" name="password" required min="3"/>
    <input type="Submit"/>
</form>
</main>
{{>footer}}
</body>
</html>