<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="icon" href="img/logo.png">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
{{>header}}
<main>
    <form method="POST" action="/register">
        <label> Firstname </label>
        <input type="text" name="first_name" required min="3"/>
        <label> Lastname: </label>
        <input type="text" name="last_name" required min="3"/>
        <label> Username: </label>
        <input type="text" name="username" required min="3"/>
        <label> Email: </label>
        <input type="email" name="email" required min="3"/>
        <label>Password: </label>
        <input type="password" name="password" min="3"/>
        <input type="Submit"/>
    </form>
</main>
{{>footer}}
</body>
</html>