<header>
    <li>
        <ul><a href="/"> HOME</a></ul>
        {{#if session.loggedin}}
            <ul><a href="/notifications">NOTIFICATIONS</a></ul>
            <ul><a href="/bookmarks">BOOKMARKS</a></ul>
            <ul><a href="/messages">MESSAGES</a></ul>
            <ul><a href="/profile">PROFILE</a></ul>
            <ul><a href="/logout">LOGOUT</a></ul>
        {{else}}

            <ul><a href="/login">LOGIN</a></ul>
            <ul><a href="/register">REGISTER</a></ul>
        {{/if}}
    </li>
</header>