<header>
    <nav>
        <ul>
            <li><a href="/"> HOME</a></li>
            {{#if session.loggedin}}
                <li><a href="/notifications">NOTIFICATIONS</a></li>
                <li><a href="/bookmarks">BOOKMARKS</a></li>
                <li><a href="/messages">MESSAGES</a></li>
                <li><a href="/profile">PROFILE</a></li>
                <li><a href="/logout">LOGOUT</a></li>
            {{else}}

                <li><a href="/login">LOGIN</a></li>
                <li><a href="/register">REGISTER</a></li>
            {{/if}}
        </ul>
    </nav>
</header>