<!DOCTYPE html>
<html>
    <head>
        <title>Messages</title>
        <link rel="icon" href="img/logo.png">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/main.js"></script>
    </head>
    <body>
        {{>header}}
        <main>
        </main>
        {{>footer}}
    </body>
</html>